@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "rabar21";
    src: url("../fonts/rabar21.ttf");
    font-display: block;
}
@font-face {
    font-family: "quran";
    src: url("../fonts/UthmanicHafs_v2-1.ttf");

}
@font-face {
    font-family: "surahname";
    src: url("../fonts/sura_names.ttf");

}


